<% layout('layouts/app') %>


<h1 class="text-center">Edit Place</h1>
<div class="col-6 offset-3">
    <form action="/places/<%= place._id %>?_method=PUT" method="post" class="validated-form" novalidate>
        <div class="mb-3">
            <Label for="title" class="form-label">Title</Label>
            <input type="text" name="place[title]" id="title" placeholder="Title" class="form-control" value="<%= place.title %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please fill out this field.
            </div>
        </div>
    
        <div class="mb-3">
            <Label for="location" class="form-label">Location</Label>
            <input type="text" name="place[location]" id="location" placeholder="Location" class="form-control" value="<%= place.location %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please fill out this field.
            </div>
        </div>

        <div class="mb-3">
            <Label for="description" class="form-label">Description</Label>
            <textarea name="place[description]" id="description" placeholder="Description" class="form-control"  required><%= place.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please fill out this field.
            </div>
        </div>
    
        <div class="mb-3">
            <Label for="price" class="form-label">Price</Label>
            <input type="text" name="place[price]" id="price" placeholder="Price" class="form-control" value="<%= place.price %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please fill out this field.
            </div>
        </div>

        <div class="mb-3">
            <Label for="image" class="form-label">Image</Label>
            <input type="text" name="place[image]" id="image" placeholder="Image" class="form-contro" value="<%= place.image %>"  required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please fill out this field.
            </div>
        </div>

        <button type="submit" class="btn btn-success mt-3 mb-3">Save</button>
    </form>

</div>